<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireman.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,136},{132,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{132,135}</string>
            </dict>
            <key>Queen.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{132,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{132,135}</string>
            </dict>
            <key>ghosttransparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{171,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,114}}</string>
                <key>sourceSize</key>
                <string>{171,114}</string>
            </dict>
            <key>wizard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,165}}</string>
                <key>sourceSize</key>
                <string>{180,165}</string>
            </dict>
            <key>zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,118},{171,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,102}}</string>
                <key>sourceSize</key>
                <string>{171,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allsprites-ipadhd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0da5dcec6c0b65b89384f6c3cccfc0d:fcd7e7e2c55a5ae7aea1b22112d65bbc:41ef3a44e866b3e0d065835e4b671a88$</string>
            <key>textureFileName</key>
            <string>allsprites-ipadhd.png</string>
        </dict>
    </dict>
</plist>
