<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creditsbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,57}}</string>
                <key>sourceSize</key>
                <string>{184,57}</string>
            </dict>
            <key>directionsbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>startbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{183,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,57}}</string>
                <key>sourceSize</key>
                <string>{183,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenubuttons-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b8d8b8442a130d1afb71b97828f426:decb50703b921e83d5f359dbd0684353:e7d3ccd044d19920c252c8d30dc6cc7e$</string>
            <key>textureFileName</key>
            <string>mainmenubuttons-hd.png</string>
        </dict>
    </dict>
</plist>
