<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smallblob1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,75}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,75}}</string>
                <key>sourceSize</key>
                <string>{118,75}</string>
            </dict>
            <key>smallblob2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{112,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{112,72}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>smallblob3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{104,75}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{118,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallspriteanimation-ipadhd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:874988e882bbdbfb6f596dc02be110b0:21316e9c871958785d85e4600e2ea61d:032d86e4198c69f4062353170d3b1e32$</string>
            <key>textureFileName</key>
            <string>smallspriteanimation-ipadhd.png</string>
        </dict>
    </dict>
</plist>
