<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>sprite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>sprite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteanimated.png</string>
            <key>size</key>
            <string>{16,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9fa12b782f2e4503c5c7e1a30913bf1:4e8a51406ac547bafc1d65d6c924a2be:c98d1d29f07a3b016474c4b098858fcc$</string>
            <key>textureFileName</key>
            <string>spriteanimated.png</string>
        </dict>
    </dict>
</plist>
